.card{
    display: flexbox;
    flex-direction: column;
   
    border: 2px solid red;
}

dialog {
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    max-width: 100%;
}
.dialog-header {
    font-size: 1.25em;
    margin-bottom: 10px;
}
.dialog-footer {
    text-align: right;
    margin-top: 10px;
}